In [1]:
# Task-1 Data Loading & Familiarization

In [18]:
import pandas as pd
from collections import Counter

# Load the dataset
df = pd.read_csv('/home/nashtech/Downloads/archive/netflix_titles.csv')

In [3]:
# Creating a pure function to print dataset info (no. of rows, columns and column names)
def describe_dataset(df: pd.DataFrame) -> dict:
    return{
        "rows": df.shape[0],
        "column": df.shape[1],
        "column_names": df.columns.tolist()
    }

info = describe_dataset(df)
print(info)

{'rows': 8807, 'column': 12, 'column_names': ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']}

In [4]:
# Task-2  Functional Cleaning & Preprocessing

In [5]:
def remove_incomplete_rows(df: pd.DataFrame) -> pd.DataFrame:
    # Keeping rows where essential fields are not null
    valid_rows = df[df['title'].notnull() & df['type'].notnull() & df['date_added'].notnull()]
    return valid_rows.copy()

In [6]:
def normalize_columns(df: pd.DataFrame) -> pd.DataFrame:
    cleaned_df = df.copy()

    # Strip whitespace from all string columns
    for col in cleaned_df.select_dtypes(include='object').columns:
        cleaned_df[col] = cleaned_df[col].map(lambda x: x.strip() if isinstance(x, str) else x)

    # Specific column transformations
    cleaned_df['type'] = cleaned_df['type'].map(lambda x: x.lower() if isinstance(x, str) else x)
    cleaned_df['title'] = cleaned_df['title'].map(lambda x: x.strip().lower() if isinstance(x, str) else x)

    return cleaned_df

In [7]:
def preprocess_dataset(df: pd.DataFrame) -> pd.DataFrame:
    filtered_df = remove_incomplete_rows(df)
    cleaned_df = normalize_columns(filtered_df)
    return cleaned_df

In [8]:
print(preprocess_dataset(df))

     show_id     type                  title         director  \
0         s1    movie   dick johnson is dead  Kirsten Johnson
1         s2  tv show          blood & water              NaN
2         s3  tv show              ganglands  Julien Leclercq
3         s4  tv show  jailbirds new orleans              NaN
4         s5  tv show           kota factory              NaN
...      ...      ...                    ...              ...
8802   s8803    movie                 zodiac    David Fincher
8803   s8804  tv show            zombie dumb              NaN
8804   s8805    movie             zombieland  Ruben Fleischer
8805   s8806    movie                   zoom     Peter Hewitt
8806   s8807    movie                 zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8797 rows x 12 columns]

In [9]:
# Task-3 Code Refactoring with FP Principles

In [10]:
# Below it the transformation that has been applied to filter out the tv-shows on from the dataframe

# Here the FP version is more readable and understandable as it is written in a separate function
# and can be used multiple times when needed which also makes it modular

In [11]:
#Procedural snippet

# Create an empty list to collect valid rows
filtered_rows = []

# Loop through each row using iterrows()
for _, row in df.iterrows():
    if row['type'] == 'TV Show' and pd.notnull(row['title']):
        filtered_rows.append(row)

# -------------------------------------------------------------------------------------------------------------------------

#FP version
def is_valid_tv_show(row):
    return row['type'] == 'TV Show' and pd.notnull(row['title'])

# Filter rows
filtered_rows = list(filter(is_valid_tv_show, df.to_dict('records')))

# Convert back to DataFrame
filtered_df = pd.DataFrame(filtered_rows)

print(filtered_df)

     show_id     type                  title         director  \
0         s2  TV Show          Blood & Water              NaN
1         s3  TV Show              Ganglands  Julien Leclercq
2         s4  TV Show  Jailbirds New Orleans              NaN
3         s5  TV Show           Kota Factory              NaN
4         s6  TV Show          Midnight Mass    Mike Flanagan
...      ...      ...                    ...              ...
2671   s8796  TV Show        Yu-Gi-Oh! Arc-V              NaN
2672   s8797  TV Show             Yunus Emre              NaN
2673   s8798  TV Show              Zak Storm              NaN
2674   s8801  TV Show     Zindagi Gulzar Hai              NaN
2675   s8804  TV Show            Zombie Dumb              NaN

                                                   cast  \
0     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
1     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
2                                                   NaN
3     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
4     Kate Siegel, Zach Gilford, Hamish Linklater, H...
...                                                 ...
2671  Mike Liscio, Emily Bauer, Billy Bob Thompson, ...
2672  Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...
2673  Michael Johnston, Jessica Gee-George, Christin...
2674  Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...
2675                                                NaN

                                            country          date_added  \
0                                      South Africa  September 24, 2021
1                                               NaN  September 24, 2021
2                                               NaN  September 24, 2021
3                                             India  September 24, 2021
4                                               NaN  September 24, 2021
...                                             ...                 ...
2671                                  Japan, Canada         May 1, 2018
2672                                         Turkey    January 17, 2017
2673  United States, France, South Korea, Indonesia  September 13, 2018
2674                                       Pakistan   December 15, 2016
2675                                            NaN        July 1, 2019

      release_year rating   duration  \
0             2021  TV-MA  2 Seasons
1             2021  TV-MA   1 Season
2             2021  TV-MA   1 Season
3             2021  TV-MA  2 Seasons
4             2021  TV-MA   1 Season
...            ...    ...        ...
2671          2015  TV-Y7  2 Seasons
2672          2016  TV-PG  2 Seasons
2673          2016  TV-Y7  3 Seasons
2674          2012  TV-PG   1 Season
2675          2018  TV-Y7  2 Seasons

                                              listed_in  \
0       International TV Shows, TV Dramas, TV Mysteries
1     Crime TV Shows, International TV Shows, TV Act...
2                                Docuseries, Reality TV
3     International TV Shows, Romantic TV Shows, TV ...
4                    TV Dramas, TV Horror, TV Mysteries
...                                                 ...
2671                             Anime Series, Kids' TV
2672                  International TV Shows, TV Dramas
2673                                           Kids' TV
2674  International TV Shows, Romantic TV Shows, TV ...
2675             Kids' TV, Korean TV Shows, TV Comedies

                                            description
0     After crossing paths at a party, a Cape Town t...
1     To protect his family from a powerful drug lor...
2     Feuds, flirtations and toilet talk go down amo...
3     In a city of coaching centers known to train I...
4     The arrival of a charismatic young priest brin...
...                                                 ...
2671  Now that he's discovered the Pendulum Summonin...
2672  During the Mongol invasions, Yunus Emre leaves...
2673  Teen surfer Zak Storm is mysteriously transpor...
2674  Strong-willed, middle-class Kashaf and carefre...
2675  While living alone in a spooky town, a young g...

[2676 rows x 12 columns]

In [12]:
# Task - 4 (optional)  Mini Analysis
# - Total TV Shows
# - Avg. cast members
# - Top 5 genres

In [ ]:
total_tv_shows = len(filtered_df)

In [16]:
# Use map to count cast members where cast is not null
cast_counts = list(
    map(lambda row: len(row['cast'].split(','))
        if pd.notnull(row['cast']) else 0,
        filtered_df.to_dict('records'))
)

average_cast = sum(cast_counts) / len(cast_counts)

In [19]:


# Flatten all genres into a list
all_genres = [
    genre.strip()
    for row in filtered_df.to_dict('records')
    if pd.notnull(row['listed_in'])
    for genre in row['listed_in'].split(',')
]

genre_counts = Counter(all_genres)
most_common_genres = genre_counts.most_common(5)

In [17]:
print(average_cast)

7.343423019431988